#main {
    /* add CSS here */
    max-width: 600px;
    margin: auto;
    text-align: center;
}
.pet {
    /* add CSS here */
    border: 4px dashed #fa0167;
    border-radius: 12px;
    box-shadow: 7px 5px 7px 3px #c5a7a7;
}